.navbar {

    width: 100%;

    height: 90px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 0 60px;

    position: relative;

    z-index: 100;
}


.logo a {

    text-decoration: none;

    color: black;

    font-size: 3rem;

    font-weight: 900;
}


.nav-links {

    display: flex;

    align-items: center;

    gap: 60px;

    list-style: none;
}


.nav-links a {

    text-decoration: none;

    color: black;

    font-size: 1rem;

    font-weight: 700;

    letter-spacing: 2px;

    transition: 0.3s ease;
}


.nav-links a:hover {

    color: #2f46ff;
}